:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --verde-claro: #14DE70;
    --verde: #48b814;

    --lexend-deca: 'Lexend Deca';
    --open-sans: 'Open Sans';
    --roboto-slab: 'Roboto Slab';
    --shadows-into-light: 'Shadows Into Light';
}

body {
    background-color: var(--verde-claro);
    color: var(--branco);
}

.cabecalho img {
    height: 50px;
}

.cabecalho {
    color: var(--branco);
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    font-family: var(--shadows-into-light);
    font-size: 1.5rem;
}

.topicos {
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
    height: 20rem;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
}

.topicos h1 {
    font-family: var(--roboto-slab);
    text-align: center;
    font-size: 2rem;
    margin: .5rem;
}

.topicos h2 {
    font-family: var(--roboto-slab);
    font-size: 1.5rem;
    margin: .5rem;
}

.street__pic {
    border-radius: 15px 0 0 15px;
}

.street__text {
    width: 70%;
    margin: 2rem;
    font-family: var(--open-sans);
}

.regras__text {
    width: 70%;
    margin: 2rem;
    font-family: var(--open-sans);
}

.regras__pic {
    border-radius: 0 15px 15px 0;
}

.equipamentos__pic {
    border-radius: 15px 0 0 15px;
}

.equipamentos__text {
    width: 70%;
    margin: 2rem;
    font-family: var(--open-sans);
}

.onde__text {
    width: 70%;
    margin: 2rem;
    font-family: var(--open-sans);
}

.onde__pic {
    border-radius: 0 15px 15px 0;
}

footer {
    padding: 2rem;
    background-color: var(--preto);
}
