body {
    background-color: var(--verde-primavera);
    font-family: var(--montserrat);
    font-weight: 400;
}

.classificacao {
    margin: 2rem 1rem;
}

.quadro {
    border-radius: 16px;
    background-color: var(--branco);
    margin: 2.5rem 0;
}

.jogador {
    display: flex;
    align-items: center;
}

.jogador_classificacao {
    font-size: 3rem;
    margin-left: 1rem;
}

.jogador_img {
    border-radius: 50%;
    border: 7px solid var(--verde-primavera);
    height: 96px;
    margin: -2rem .5rem 1rem .5rem;
}

.jogador_nome {
    font-size: 2rem;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.status_rodada {
    border-radius: 1rem;
    background-color: var(--cinza-claro);
    margin: .5rem .7rem;
    padding: .5rem;
    min-width: 5rem;
}