.grid-container {
    display: grid;
    width: 35em;
    height: 48em;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 20% 60% 10%;
    grid-template-areas: 
    "cabecalho cabecalho"
    "imagem imagem"
    "side-bar corpo"
    "rodape rodape";
}

.box1 {
    grid-area: cabecalho;
    background-color: yellow;
}

.box2 {
    grid-area: imagem;
    background-color: lightblue;
}

.box3 {
    grid-area: side-bar;
    background-color: yellowgreen;
}

.box4 {
    grid-area: corpo;
    background-color: green;
}

.box5 {
    grid-area: rodape;
    background-color: greenyellow;
}