.cabecalho {
    color: white;
    background-color: black;
    padding: 3rem;
    font-size: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "imagem1 streethockey streethockey"
    "imagem1 regras imagem2"
    "imagem1 equipamentos imagem2"
    "ondejogamos ondejogamos imagem2"
}

.imagem1 {
    grid-area: imagem1;
    background-color: cadetblue;
    padding: 3rem;
    font-size: 2rem;
}

.streethockey {
    grid-area: streethockey;
    background-color: yellow;
    padding: 3rem;
    font-size: 2rem;
}

.regras {
    grid-area: regras;
    background-color: yellowgreen;
    padding: 3rem;
    font-size: 2rem;
}

.equipamentos {
    grid-area: equipamentos;
    background-color: greenyellow;
    padding: 3rem;
    font-size: 2rem;
}

.ondejogamos {
    grid-area: ondejogamos;
    background-color: green;
    padding: 3rem;
    font-size: 2rem;
}

.imagem2 {
    grid-area: imagem2;
    background-color: cadetblue;
    padding: 3rem;
    font-size: 2rem;
}

.rodape {
    color: white;
    background-color: black;
    padding: 3rem;
    font-size: 2rem;
}