:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --azul: #0000FF;

    --lexend-deca: 'Lexend Deca';
    --open-sans: 'Open Sans';
    --roboto-slab: 'Roboto Slab';
    --shadows-into-light: 'Shadows Into Light';
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--preto);
}

.cabecalho img {
    height: 4rem;
}

.cabecalho h1 {
    font-family: var(--shadows-into-light);
    font-size: 1.5rem;
    color: var(--branco);
}

.cabecalho_botao {
    background-color: var(--preto);
}

.grid_conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "pic_principal pic_principal pic_principal"
    "pic_right street street"
    "pic_right regras pic_left"
    "pic_right equipamentos pic_left"
    "onde onde pic_left";
    background-color: var(--preto);
}

.pic-principal {
    grid-area: pic_principal;
    width: 100%;
    height: 100%;
}

.pic-esquerda {
    grid-area: pic_right;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 0;
}

.topicos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto-slab);
    font-size: .8rem;
}

#street {
    grid-area: street;
    margin: 0 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--branco);
    background-image: url(../images/streethockey_background.jpg);
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
}

#street button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

#street h1 {
    background-color: var(--branco);
}

#street:hover {}

#regras {
    grid-area: regras;
    margin: 0 10px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: var(--branco);
    background-image: url(../images/regras_background.jpg);
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
}

#regras button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

#regras h1 {
    background-color: var(--branco);
}

#regras:hover {}

#equipamentos {
    grid-area: equipamentos;
    margin: 5px 0 0 10px;
    border-radius: 5px 0 0 5px;
    background-color: var(--branco);
    background-image: url(../images/equipamento_background.jpg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

#equipamentos button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

#equipamentos h1 {
    background-color: var(--branco);
}

#equipamentos:hover {}

#onde {
    grid-area: onde;
    margin: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    background-color: var(--branco);
    background-image: url(../images/onde_background.jpg);
    background-position: 5%;
    background-size: 25%;
    background-repeat: no-repeat;
}

#onde button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

#onde h1 {
    background-color: var(--branco);
    margin-left: 1rem;
}

#onde:hover {}

.pic-direita {
    grid-area: pic_left;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 0;
}

.rodape {
    padding: 2rem;
    color: var(--branco);
    background-color: var(--preto);
    font-family: var(--open-sans);
    font-size: .8rem;
}

.rodape_botao {
    color: var(--azul);
    font-size: .8rem;
    text-decoration: underline;
    font-family: var(--open-sans);
    background-color: var(--preto);
    border: none;
}
