:root {
    --branco: #FFFFFF;
    --cinza-escuro: #1a2025;
    --menu-navegacao: #15191ceb;
    --preto-sombra: rgba(0, 0, 0, 0.6);
    --montserrat: 'Montserrat';
    --lobster: 'Lobster';
}

body {
    background-color: var(--cinza-escuro);
    font-family: var(--montserrat);
    font-weight: 500;
}

/* Cabeçalho */

.cabecalho__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cinza-escuro);
    box-shadow: 0px 8px 4px var(--preto-sombra);
    color: white;
    height: 5rem;
    position: relative;
}

.logo {
    width: 4rem;
}

.cabecalho__titulo {
    font-size: 2rem;
    font-family: var(--lobster);
}

.imagem__menu--mobile {
    padding: 1rem;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
}

.menu__navegacao {
    display: none;
    background-color: var(--menu-navegacao);
    color: var(--branco);
    width: 80vw;
    position: absolute;
    top: 100%;
    left: 20%;
}

.menu__navegacao--lista {
    display: flex;
    flex-direction: column;
}

.menu__navegacao--item {
    padding: 1rem;
    font-size: 1.25rem;
}

.botao__menu {
    display: none;
}

.botao__menu:checked~.menu__navegacao {
    display: block;
}

/* Introdução */

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-image: url(../images/Jogadore-Street-Hockey.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90vw;
    color: var(--branco);
    height: 24rem;
}

.introducao b {
    font-weight: 400;
}

.introducao__titulo {
    font-family: var(--lobster);
    font-size: 2rem;
    margin: 2rem 1rem;
}

.introducao__subtitulo {
    font-size: 1.5rem;
    margin: 1rem 1rem 0.5rem 1rem;
}

.introducao__texto {
    margin: 0 1rem;
}